@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@media only screen and (max-width: 600px) {
 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    text-align: center;
    background-color: black;
    
}

img {
    max-width: 100%;
    max-height: auto;
}

.acadia-background {
    background-image:url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0%;
    font-size: 1em;
    color: #FFF;
    
}

h1  {
    color: #FFF;
    padding-top: 10%;
}
 .acadia-background span {
    font-size: 1.5em;
    font-weight: 1500;
    color: #8a3324;
 }

 footer {
    left: 0;
    bottom: 0;
    height: 1em;
    width: 100%;
    color: #FFF;
    font-size: smaller;
    text-align: center;
}

header {
    margin: 0;
    left: 0;
    right: 0;
    margin-top: 1em;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #8a3324;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
      to bottom, 
      #8a3324, #8a3324 20%, 
      black 20%, black 40%, 
      #8a3324 40%, #8a3324 60%, 
      black 60%, black 80%, 
      #8a3324 80%, #8a3324 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #8a3324;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #8a3324;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

@media screen and (max-width: 700px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

.container{
	max-width: 900px;
	margin: 50px auto;
	padding: 30px;
  padding-bottom: 10%;
}
h2{
	margin-top: 0;
    color: #8a3324;
}
.skill_row{
	background:lightgray;
	height:15px;
	border-radius: 10px;
	position: relative;
}
.skill_view{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 10px;
	z-index: 1;
	background: #8a3324;
	
}
.skill_value{
	position: absolute;
	left: 100%;
	bottom: 100%;
	transform: translateX(-60%);
	background-color: #8a3324;
	color: #fff;
	line-height: 20px;
	padding: 0 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;

}
.skill_value:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3px;
	border-top: 5px solid #8a3324;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

h4 {
    color: white;
    font-size: 35px;
}
h6  {
    color: #FFF;
    padding-top: 50%;
    padding-bottom: 50%; 
    font-size: 25px;
    text-align: center;
}



p {
    color: #8a3324;
    font-size: relative;
    padding-top: 5%;
    padding-bottom: 10%;
}

#form {
    width: 100%;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #8a3324;
    border: none;
    border-radius: 4px;
}

.input-control {
    color:#8a3324;
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #8a3324;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 9px;
    height: 13px;
}

img {
  max-width: 100%;
  
}

.cart-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding-top: 4em;
  
}

#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
}

.cart-quantity {
  color: white;
  background-color: #8a3324;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 0;
  border: solid 2px #8a3324;
  border-radius: 15px;
  font-weight: bolder;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 4em;
}

.card {
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 1em
}

.add-to-cart {
  background-color: #8a3324;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8a3324;
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: #8a3324;
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
  color: white;
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

