@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    text-align: center;
    background-color: black;
    
}

header {
    margin: 0;
    left: 0;
    right: 0;
    
}

.navbar {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #8a3324;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: grey;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    } }

header {

    margin-top: 1em;
}


img {
    max-width: 100%;
    max-height: auto;
}

.acadia-background {
    background-image:url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    font-size: 1em;
    color: #FFF;
    
}

h1  {
    color: #FFF;
    padding-top: 50%;
}
 .acadia-background span {
    font-size: 1.5em;
    font-weight: 1500;
    color: #8a3324;
 }


 
